@import "tailwindcss";

body {
  background-color: #f5f8ff;
  color: #555;
}
.wrapper {
  max-width: 1140px;
}
.logo {
  width: 8.4rem;
}
.nav-list-item {
  /* font-size: 18px; */
  color: #8987a1;
}
.nav-list-item:hover {
  /* font-weight: bold; */
  color: #333;
}
.nav-list-item-cart {
  /* font-size: 18px; */
  color: #333;
}
.cart-icon {
  width: 1.75rem;
  height: 1.75rem;
}
.active {
  color: #333;
  /* font-weight: bold; */
}
.card {
  box-shadow: 0 2px 6px rgba(180, 180, 180, 0.5);
}

/* .latest-image-box { */
/* grid-template-columns: 1fr 2fr; */
/* } */
/* .latest-image-box-col-1 {
  grid-template-columns: 1fr;
} */
.bloom-flower {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url("../images/deal-bloom.png");
}
.ana-flower {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url("../images/deal-ana.png");
}

.zabo-flower {
  /* height: 26.44rem; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url("../images/deal-zabo.png");
}

.join-section {
  height: 33.3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05)),
    url(../images/news-letter-bg.png);
}
